.decensured-post-button {
  background: var(--jv-text-primary);
  line-height: 2rem;
  padding: 0 1rem;
}
.decensured-decrypted-message {
  background-color: #4495fd3d !important;
  border-color: var(--jv-text-dark) !important;
}
