.decensured-post-button {
  background: var(--jv-text-primary) !important;
  color: #fff !important;
  line-height: 2rem;
  padding: 0 1rem;
}
.decensured-post-button:hover {
  background: var(--jv-text-hover-primary) !important;
}
.decensured-post-button::before {
  content: "\EA45" !important;
}
.btn-poster-msg.decensured-post-button::before {
  font-family: "icons";
  margin-right: 5px;
  vertical-align: top;
}
.decensured-decrypted-message {
  background-color: #4495fd3d !important;
  border-color: var(--jv-text-dark) !important;
}
.decensured-decrypted-topic {
  background-color: #4495fd3d !important;
  border-color: var(--jv-text-dark) !important;
}
.decensured-font-icon {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  letter-spacing: 0;
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.decensured-option-button {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  line-height: 1.77;
  background: #0071ff;
  border-radius: 17%;
  opacity: 0.5 !important;
}
.decensured-option-button:hover {
  opacity: 1 !important;
}
.decensured-display-message::before,
.decensured-hide-message::before {
  position: relative;
  top: -5px;
  left: 1px;
  font-size: 0.83rem;
  color: #fff;
}
.decensured-display-message::before {
  content: "\EA31";
}
.decensured-hide-message::before {
  content: "\EA30";
}
.decensured-quote-button {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAANBaVRYdFhNTDpjb20uYWRvYmUueG1wAAAAAAA8P3hwYWNrZXQgYmVnaW49Iu+7vyIgaWQ9Ilc1TTBNcENlaGlIenJlU3pOVGN6a2M5ZCI/Pg0KPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS42LWMwNjcgNzkuMTU3NzQ3LCAyMDE1LzAzLzMwLTIzOjQwOjQyICAgICAgICAiPg0KICA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPg0KICAgIDxyZGY6RGVzY3JpcHRpb24gcmRmOmFib3V0PSIiIHhtbG5zOnhtcD0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wLyIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bXA6Q3JlYXRvclRvb2w9IkFkb2JlIFBob3Rvc2hvcCBDQyAyMDE1IChXaW5kb3dzKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDowNDQwNTFBRjU2MzExMUU1OUNEOEVBQkZFMUZGRjI1QiIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDowNDQwNTFCMDU2MzExMUU1OUNEOEVBQkZFMUZGRjI1QiI+DQogICAgICA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDowNDQwNTFBRDU2MzExMUU1OUNEOEVBQkZFMUZGRjI1QiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDowNDQwNTFBRTU2MzExMUU1OUNEOEVBQkZFMUZGRjI1QiIgLz4NCiAgICA8L3JkZjpEZXNjcmlwdGlvbj4NCiAgPC9yZGY6UkRGPg0KPC94OnhtcG1ldGE+DQo8P3hwYWNrZXQgZW5kPSJyIj8+CrxFiwAAAW9JREFUOE+dk72qwkAQhU+MGkkg4EP4BFb6GHaWt9YmT2JjExBuaSlYCxaKFv48gpWthZCAGk3unnFRN8hF/GCSmc3MmdkNa4Vh6ALoK2srqyj7hJOyobJuQT1Y/KPs02LCXNb0KcDO39KmwKPz9XpFHMc4Ho+IoghJkojR5xq/MeeFSlE7wvl8RhAEOgIGg4G8O52OvEmv10Ox+CzjBA9y6tL9crno6E4+xxAoFIwQaZqiVCrp6D1GBZPn8zkWi4XEnufJtiaTicTEsizt3TEEyuUy1us1ttutxJwoyzJsNhuJ9/u9sX9izqy43W5oNBriHw4H2UatVpN4NBpJk1cMAR4Yi+v1OsbjsYzr+z5arRZWq5WI/TsBE5rNJqbTKXa7nZxJtVrFcrnEbDaD4zg68wnvQqZ9+UWcwrZtKeYE3BLPgWv5v0S4woshcDzXdaUTkynANYq9K1acuMpb9S1DCnSV/Sp7TPIBzFU16P4Bhq2QGlnsYP8AAAAASUVORK5CYII=)
    0 no-repeat;
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

.jvchat-bloc-message .jvchat-tooltip .decensured-option-button,
.jvchat-bloc-message .jvchat-tooltip .decensured-quote-button {
  margin-right: 0.3rem;
  visibility: hidden;
}
.jvchat-bloc-message:hover .jvchat-tooltip .decensured-option-button,
.jvchat-bloc-message:hover .jvchat-tooltip .decensured-quote-button {
  visibility: visible;
  cursor: pointer;
  opacity: 1;
}
